.gitingore
data/data/
data/collected/
visualizations/
PowerSampler_bkp.py
tester_base_bkp.py 
tester_torch110.py
threadTest.py 
tester.py 
tester_orig.py 
data/*
__pycache__
model_loader_generate.py
layer_stats/LatencySampler.py
layer_stats/PowerSampler.py
layer_stats/latencyDatasetGenerator.py
layer_stats/powerDatasetGenerator.py
imagenet.zip
Others
Dataset
Dataset_old
ModelCheckPoints
logs
.vscode/settings.json
denverComp.tar
MappingDBSampler_bkp*
nvpmodel.conf
tegrestats/tegrastats_utils copy.py
tegrestats/tegrastats_utils2.py
tegrestats/tegrastatsSample copy.txt
tegrestats/tegrastatsSample.txt
FunctionalLayerNum.txt
testNumLayers.py
multi_network_stats/postProcessMultinetDB.py.bkp
